<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400italic,100,300,700,400' rel='stylesheet' type='text/css'>
    <title>Python Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body id="main_body">
    <header>
      <a href="/" id="logo">
        <h1>Nick Becker</h1>
        <h2>Python Learning Journal</h2>
      </a>
      <aside id="user-controls">
      <ul>
      <li><a href="/" class="selected">Home</a></li>
      {% if not request.authenticated_userid %}
      <li><a href="{{ request.route_url('login') }}">Log in</a></li>
      {% else %}
      <li><a href="{{ request.route_url('logout') }}">Log out</a></li>
      {% endif %}
      </ul>
    </aside>
    </header>
    <div id="wrapper">
      <main>
        <section id="content">
        {% block body %}{% endblock %}
        </section>
      </main>
      <footer>
        <p>&copy;  2015 Nick Becker.</p>
        <a href="https://facebook.com/RobotHouse" target="_blank"><img src="../static/facebook-wrap.png" class="social_icon"></a>
        <a href="https://twitter.com/beckercommanick" target="_blank"><img src="../static/twitter.png" class="social_icon"></a>
      </footer>
    </div>
  </body>
</html>
