{% extends "base.jinja2" %}
{% block body %}
<a href='/'><h2 style='padding-left:1em'>Back</h2></a>
<h2 id="gallery">Detailed Post View</h2>
<div id="detail_post">
    <h4>
    <article class="entry" id="title={{entry.id}}">
     <h3 id="post_title">{{ entry.title }}</h3>
      <div class="post">
         <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}</p>
          <div class="entry_body" id ="test">
           {{ entry.render_markdown()|safe }}
          </div>
      </div>
    </article>
    </h4>
</div>
<div id="editing" class="center-white">
</div>
<div id="edited" class="center-white">
</div>
<div style="text-align:center;">
<a href="#" id="new_edit_button">
<button class="edit_button">Edit</button>
</a>
</div>
{% endblock %}

