{% extends "base.jinja2" %}
{% block body %}
<div id="new_post" style="text-align: center">
  <h3 id="post" style="color: #eee">Write a new entry!</h3>
    <form action="" method="POST" class="add_entry" id="add_entry">
      <div class="field">
        <label for="title" class="form_field"><h3 style="color: #eee">Title:</h3></label><br>
        <textarea name="title" id="title" rows="1" cols="30"></textarea>
      </div>
      <div class="field">
        <label for="text" class="form_field"><h3 style="color: #eee">Text:</h3></label><br>
        <textarea name="text" id="text" rows="5" cols="60"></textarea>
      </div>
      <div class="control_row">
        <input type="submit" value="Share" name="Share"/>
      </div>
    </form>
</div>
<div id="all_posts">
  {% for entry in entries %}
    <article class="entry" id="entry{{entry.id}}">
          <h4>
          <a href ="/detail/{{entry.id}}">
            <h3 style="color: #eee">{{ entry.title }}</h3>
          </a>
            <div class="post">
            <a href ="/detail/{{entry.id}}">
              <p class="dateline" style="color: #eee">{{ entry.created.strftime('%b. %d, %Y') }}</p>
              <div class="entry_body" id ="detail_post" style="color: #eee">
                {{ entry.render_markdown()|safe }}
              </div>
            </a>
            </div>
          </a>
    </article>
    </h4>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far</em></p>
  </div>
  <br>
  {% endfor %}
  </div>
{% endblock %}
